.is-rainbow {
    background: linear-gradient(90deg, red, yellow, lime, cyan, blue, magenta, red);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow 2s linear infinite;
}

@keyframes rainbow {
    to {
        background-position: 200%;
    }
}

button {
    margin-top: 20px;
    cursor: pointer;
}
